.container {
  padding-top: 1rem;
  color: #eff3f8;
}

.futer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem ;
  padding-bottom: 1rem;
  margin-inline: 1.5rem;
  border-top: 2px #24385b solid;
}

.futer_main {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.socials {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.spam {
  margin-bottom: 1rem;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.author {
  margin-top: 1rem;
}

.author_link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .futer {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .futer_main {
    display: flex;
    flex-direction: row;
  }
  .socials {
    width: 320px;
    display: flex;
    flex-direction: row;
  }
  .nav {
    width: 190px;
  }
}

@media (min-width: 768px) {
  .futer {
    width: 70vw;
  }
  .futer_main {
    width: 70vw;
  }
}