.home {
  /* background-image: url('/images/guitarra_small.png'); */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_presentation {
  margin-top: 2rem;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 425px) {
  .home_presentation {
    width: 90vw;
  }
}

@media (min-width: 768px) {
  .home {
    /* background-image: url('/images/guitarra_medium.png'); */
  }
  .home_presentation{
    width: 85vw;
  }
}

@media (min-width: 900px) {
  .home {
    margin: auto;
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  .home_presentation {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_presentation {
    width: 75vw;
  }  
}

@media (min-width: 1224px) {
  .home_presentation {
    width: 60vw;
  }  
}