.home {
  /* padding-left: 60px; */
  height: 87vh;
  background-image: url('/images/guitarra_small.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_presentation {
  width: 70vw;
  padding-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 425px) {
  .home_presentation {
    width: 80vw;
    padding-left: 100px;
  }
}

@media (min-width: 600px) {
  .home {
    max-width: 600px;
    height: 80vh;
    margin: 4rem auto;
    background-image: url('/images/guitarra_medium.png');
  }
  .home_presentation{
    width: 75vw;
    padding-left: 35%;
  }
}

@media (min-width: 900px) {
  .home {
    max-width: 900px;
    height: 85vh;
    margin: 1rem auto;
    background-image: url('/images/guitarra_big.png');
  }
  .home_presentation {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .home {
    max-width: 1024px;
  }
  .home_presentation {
    font-size: 1.5rem;
    padding-left: 40%;
    width: 80vw;
  }
}